@charset "utf-8";


ul{
    list-style: none;
    list-style: disc;
    list-style: circle;
    list-style: georgian;
}

th{
    border: 1px solid black;
    background-color: rgb(187, 245, 245);
}

a:link{
    color: rgb(246, 71, 58);
}

a:hover{
    font-size: 2em;
}


p::first-letter{
    font-size:2em;
}


* {
    font-family: sans-serif,serif,"メイリオ";
}

header{
    background-color: rgb(114, 153, 250);
    grid-area: header-A;
}


ul{
    list-style: none;
    list-style: disc;
    list-style: circle;
    list-style: georgian;
}

th{
    border: 1px solid black;
    background-color: rgb(152, 208, 253);
}

a:link{
    color: rgb(54, 142, 237);
}

a:hover{
    font-size: 2em;
}
