@charset "UTF-8";

.gnav > ul {
    list-style: none;
}

.gnav > ul > li {
    display: inline;

    margin: 0 8px 0 0;
    padding: 8px 4px;

    border: 1px solid #000;
    border-radius: 4px;

    background: linear-gradient(#FFF,#999);
}

ul{
    list-style: none;
    list-style: disc;
    list-style: circle;
    list-style: georgian;
}

th{
    border: 1px solid black;
    background-color: rgb(187, 245, 245);
}

header{
    background-color: rgb(33, 123, 45);
    grid-area: header-A;
}


footer{
    background-color: #aaa;
    grid-area: footer-A;
}

ul{
    list-style: none;
    list-style: disc;
    list-style: circle;
    list-style: georgian;
}

a:link{
    color: rgb(1, 15, 4);
}

th{
    border: 1px solid black;
    background-color: rgb(179, 238, 174);
}

a:link{
    color: rgb(3, 137, 41);
}

a:hover{
    font-size: 2em;
}


p::first-letter{
    font-size:2em;
}